body {
  background-color: #d1d1d1;
  font-family: "Lato", sans-serif;
}

footer p {
  font-size: 0.6rem;
}

section {
  padding-top: 5rem;
}

.jumbotron {
  padding-top: 5rem;
}

.tlp-fix {
  height: 50px;
  width: 50px;
  background-color: #0007ff;
  position: fixed;
  bottom: 140px;
  right: 40px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.wa-fix {
  height: 50px;
  width: 50px;
  background-color: #0cc50c;
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
